header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;

  & img {
    width: 6.21rem
  }
}

/* desktop */
@media (width >= 57em) {
  header {
    margin-top: 4rem;
  
    & img {
      width: 7.25rem
    }
  }
}