.content {
  margin: 0 0.75rem;
}

main {
  margin-top: 1.25rem;
  display: grid;
  grid-template-areas: 
    "user"
    "card"
    "progress"
    "history";
  grid-row-gap: 0.5rem;

  & section.user {
    grid-area: user;
  }

  & section.history {
    grid-area: history;
  }

  & section.card {
    grid-area: card;
  }

  & section.progress {
    grid-area: progress;
  }
}

/* desktop */
@media (width >= 57em) {
  .content {
    max-width: 57rem;
    margin: 0 auto 3rem auto;
  }

  main {
    margin-top: 4rem;
    grid-template-areas: 
      "user card"
      "history card "
      "history card"
      "history progress";
    grid-template-columns: 20rem 1fr;
    column-gap: 1.5rem;
  }  
}